.u-section-1 .u-sheet-1 {
  min-height: 302px;
}

.u-section-1 .u-list-1 {
  min-height: 203px;
  grid-gap: 10px;
  grid-template-columns: repeat(3, calc(33.3333% - 6.66667px));
  grid-template-rows: repeat(1, auto);
  height: auto;
  margin: 50px auto 50px 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-icon-1 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-1 .u-text-1 {
  margin: 30px 100px 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-icon-2 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-1 .u-text-2 {
  margin: 30px 95px 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-icon-3 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-1 .u-text-3 {
  margin: 30px 110px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-list-1 {
    min-height: 167px;
    grid-template-columns: repeat(3, calc(33.333333333333336% - 6.66667px));
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-left: 10px;
    margin-right: 10px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 317px;
  }

  .u-section-1 .u-list-1 {
    min-height: 217px;
    grid-template-columns: repeat(3, calc(33.3333% - 6.66667px));
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 574px;
  }

  .u-section-1 .u-list-1 {
    min-height: 489px;
    grid-template-columns: repeat(2, calc(50% - 5.0000025px));
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-list-1 {
    grid-template-columns: repeat(1, calc(100% - 0px));
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 460px;
}

.u-section-2 .u-layout-wrap-1 {
  margin: 60px auto 0 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 400px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 400;
  line-height: 1.6;
  margin-left: 0;
}

.u-section-2 .u-text-2 {
  font-weight: 400;
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 12px 0 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 400px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-text-3 {
  margin-top: 0;
  font-size: 1.125rem;
  margin-bottom: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 390px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 330px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 330px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 160px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 260px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 651px;
}

.u-section-3 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  background-image: none;
  width: 565px;
  text-transform: none;
  margin: 60px auto 0;
}

.u-section-3 .u-text-2 {
  font-style: italic;
  width: 864px;
  margin: 20px auto 0;
}

.u-section-3 .u-accordion-1 {
  margin-bottom: 60px;
  margin-top: 30px;
}

.u-section-3 .u-accordion-link-1 {
  background-image: none;
  font-size: 1.125rem;
  font-weight: 600;
  padding: 25px 30px;
}

.u-section-3 .u-icon-1 {
  height: 25px;
  width: 25px;
  background-image: none;
  color: rgb(128, 128, 128) !important;
}

.u-section-3 .u-accordion-pane-1 {
  min-height: 150px;
}

.u-section-3 .u-container-layout-1 {
  padding: 20px 30px;
}

.u-section-3 .u-accordion-link-2 {
  background-image: none;
  font-size: 1.125rem;
  font-weight: 600;
  padding: 25px 30px;
}

.u-section-3 .u-icon-2 {
  height: 25px;
  width: 25px;
  background-image: none;
  color: rgb(128, 128, 128) !important;
}

.u-section-3 .u-accordion-pane-2 {
  min-height: 150px;
}

.u-section-3 .u-container-layout-2 {
  padding: 20px 30px;
}

.u-section-3 .u-accordion-link-3 {
  background-image: none;
  font-size: 1.125rem;
  font-weight: 600;
  padding: 25px 30px;
}

.u-section-3 .u-icon-3 {
  height: 25px;
  width: 25px;
  background-image: none;
  color: rgb(128, 128, 128) !important;
}

.u-section-3 .u-accordion-pane-3 {
  min-height: 150px;
}

.u-section-3 .u-container-layout-3 {
  padding: 20px 30px;
}

@media (max-width: 991px) {
  .u-section-3 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    width: 540px;
  }

  .u-section-3 .u-text-2 {
    width: 540px;
  }

  .u-section-3 .u-accordion-1 {
    margin-top: -55px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    font-size: 1.5rem;
    width: 340px;
  }

  .u-section-3 .u-text-2 {
    width: 340px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 513px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  width: 682px;
  margin: 74px auto 0;
}

.u-section-4 .u-text-2 {
  width: 682px;
  margin: 20px auto 0;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 30px;
  margin-bottom: 46px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 330px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-text-3 {
  margin: 0 2px;
}

.u-section-4 .u-text-4 {
  font-weight: 700;
  margin: 20px 2px 0;
}

.u-section-4 .u-text-5 {
  margin: 20px 2px 0;
}

.u-section-4 .u-btn-1 {
  font-weight: 400;
  background-image: none;
  border-style: none;
  margin: 30px auto 0;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 330px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-text-6 {
  margin: 0;
}

.u-section-4 .u-text-7 {
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-4 .u-text-8 {
  margin: 20px 0 0;
}

.u-section-4 .u-btn-2 {
  font-weight: 400;
  background-image: none;
  border-style: none;
  margin: 30px auto 0;
}

.u-section-4 .u-layout-cell-3 {
  min-height: 330px;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px;
}

.u-section-4 .u-text-9 {
  margin: 0;
}

.u-section-4 .u-text-10 {
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-4 .u-text-11 {
  margin: 20px 0 0;
}

.u-section-4 .u-btn-3 {
  background-image: none;
  font-weight: 400;
  border-style: none;
  margin: 30px auto 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 457px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 272px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 272px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 272px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 350px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 263px;
  }

  .u-section-4 .u-text-1 {
    width: 540px;
  }

  .u-section-4 .u-text-2 {
    width: 540px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 166px;
  }

  .u-section-4 .u-text-1 {
    width: 340px;
  }

  .u-section-4 .u-text-2 {
    width: 340px;
  }
}