.u-section-1 .u-sheet-1 {
  min-height: 349px;
}

.u-section-1 .u-layout-wrap-1 {
  margin: 60px auto 60px 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 420px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 30px 30px 32px;
}

.u-section-1 .u-image-1 {
  width: 338px;
  height: 338px;
  background-image: url("images/a24-logo.jpg");
  background-position: 49.57% 100%;
  margin: 0 auto;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 420px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  margin: 68px 0 0;
}

.u-section-1 .u-text-2 {
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 26px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 346px;
  }

  .u-section-1 .u-image-1 {
    width: 298px;
    height: 298px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 346px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-layout-cell-1 {
    min-height: 265px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
  }

  .u-section-1 .u-image-1 {
    width: 216px;
    height: 216px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-layout-cell-1 {
    min-height: 518px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-layout-cell-1 {
    min-height: 326px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 629px;
}

.u-section-2 .u-list-1 {
  width: 758px;
  min-height: 464px;
  grid-gap: 10px 10px;
  grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  grid-template-rows: auto;
  height: auto;
  margin: 60px auto;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-image-1 {
  width: 290px;
  height: 290px;
  background-image: url("images/a24-logo.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-2 .u-text-1 {
  margin: 20px 0 0;
}

.u-section-2 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-image-2 {
  width: 290px;
  height: 290px;
  background-image: url("images/d7020590e6c763d6ee58be5ecb46c512.png");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-2 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-2 .u-text-4 {
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 474px;
  }

  .u-section-2 .u-list-1 {
    min-height: 309px;
    grid-template-columns: repeat(2, calc(50% - 5px));
  }

  .u-section-2 .u-image-1 {
    width: 232px;
    height: 232px;
  }

  .u-section-2 .u-image-2 {
    width: 232px;
    height: 232px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1015px;
  }

  .u-section-2 .u-list-1 {
    width: 720px;
    grid-template-columns: 100%;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-list-1 {
    width: 540px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-list-1 {
    width: 340px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 454px;
}

.u-section-3 .u-list-1 {
  min-height: 315px;
  grid-template-columns: repeat(3, calc(33.3333% - 6.66667px));
  grid-template-rows: repeat(1, auto);
  height: auto;
  grid-gap: 10px;
  margin: 60px auto 60px 0;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-icon-1 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-3 .u-text-1 {
  margin: 30px 0 0;
}

.u-section-3 .u-text-2 {
  margin: 20px 20px 0 0;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-icon-2 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-3 .u-text-3 {
  margin: 30px 0 0;
}

.u-section-3 .u-text-4 {
  margin: 20px 20px 0 0;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-icon-3 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-3 .u-text-5 {
  margin: 30px 0 0;
}

.u-section-3 .u-text-6 {
  margin: 20px 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-list-1 {
    min-height: 259px;
    grid-template-columns: repeat(3, calc(33.333333333333336% - 6.66667px));
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-2 {
    margin-right: 16px;
  }

  .u-section-3 .u-text-4 {
    margin-right: 16px;
  }

  .u-section-3 .u-text-6 {
    margin-right: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-list-1 {
    min-height: 595px;
    grid-template-columns: repeat(2, calc(50% - 5.0000025px));
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
  }

  .u-section-3 .u-text-4 {
    margin-right: 0;
  }

  .u-section-3 .u-text-6 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-list-1 {
    grid-template-columns: repeat(2, calc(50% - 5px));
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-list-1 {
    grid-template-columns: 100%;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 364px;
}

.u-section-4 .u-layout-wrap-1 {
  margin: 83px auto 83px 0;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 198px;
}

.u-section-4 .u-image-1 {
  width: 228px;
  height: 93px;
  position: relative;
  margin: 20px auto;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 198px;
  background-image: none;
}

.u-section-4 .u-image-2 {
  width: 228px;
  height: 93px;
  position: relative;
  margin: 20px auto;
}

.u-section-4 .u-layout-cell-3 {
  min-height: 198px;
  background-image: none;
}

.u-section-4 .u-image-3 {
  width: 228px;
  height: 140px;
  margin: 29px auto;
}

.u-section-4 .u-layout-cell-4 {
  min-height: 198px;
  background-image: none;
}

.u-section-4 .u-image-4 {
  width: 228px;
  height: 93px;
  position: relative;
  margin: 20px auto;
}

@media (max-width: 1199px) {
  .u-section-4 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-1 {
    width: 188px;
    height: 77px;
  }

  .u-section-4 .u-image-2 {
    width: 188px;
    height: 77px;
  }

  .u-section-4 .u-image-3 {
    width: 188px;
    height: 115px;
    position: relative;
  }

  .u-section-4 .u-image-4 {
    width: 188px;
    height: 77px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-image-1 {
    width: 144px;
    height: 59px;
  }

  .u-section-4 .u-image-2 {
    width: 144px;
    height: 59px;
  }

  .u-section-4 .u-image-3 {
    width: 144px;
    height: 88px;
  }

  .u-section-4 .u-image-4 {
    width: 144px;
    height: 59px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: auto;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: auto;
  }

  .u-section-4 .u-image-1 {
    width: 135px;
    height: 55px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: auto;
  }

  .u-section-4 .u-image-2 {
    width: 135px;
    height: 55px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: auto;
  }

  .u-section-4 .u-image-3 {
    width: 135px;
    height: 83px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: auto;
  }

  .u-section-4 .u-image-4 {
    width: 135px;
    height: 55px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-image-1 {
    width: 113px;
    height: 46px;
  }

  .u-section-4 .u-image-2 {
    width: 113px;
    height: 46px;
  }

  .u-section-4 .u-image-3 {
    width: 113px;
    height: 70px;
  }

  .u-section-4 .u-image-4 {
    width: 113px;
    height: 46px;
  }
}